.breadcrumb {
    margin-bottom: 10px;
}

.breadcrumb .crumb {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
}

.breadcrumb .crumb::after {
    content: '/';
    margin: 0 1ch;
    color: #000;
}

.breadcrumb .crumb:last-child::after {
    content: '';
}
