.gutters-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e6efff;
}

.gutters-layout .content {
    margin: 0 25%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 15px;
}

.gutters-layout > .content {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.gutters-layout > .content img {
    max-width: 100%;
}
